:root {
  --bg-color: #ffffff;
  --text-color: #333333;
}





  .content-box {
    width: 24rem;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .info {
    text-align: center;
    color: white;
    margin-bottom: 1rem;
  }
  
  .info h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .info p {
    font-size: 0.875rem;
    color: #a1a1a1;
    margin-top: 0.5rem;
  }
  
  .input-field {
    width: 100%;
    padding: 0.5rem;
    background-color: white;
    color: white;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  


 

  
  
  